<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bo.mapper.OrderMapper">

    <insert id="createOrder">
        insert into order_info(id,user_id,goods_id,goods_name,goods_count,goods_price,create_date)
         values(#{id},#{userId},#{goodsId},#{goodsName},#{goodsCount},#{goodsPrice},#{createDate})
    </insert>

    <insert id="createMiaoshaOrder">
        insert into miaosha_order(user_id,order_id,goods_id)
         values(#{userId},#{orderId},#{goodsId})
    </insert>

    <select id="queryMiaoshaOrderByUserIdGoodsId" resultType="MiaoshaOrder">
      select * from miaosha_order where user_id=#{userId} and goods_id=#{goodsId}
    </select>

</mapper>